{% comment %} FAQ Template {% endcomment %}

<div data-section-id="{{ section.id }}" data-section-type="faq-template">
  {%- unless section.settings.hide_title -%}
  <header class="page-masthead">
    <h1 class="page-title">
        {{ page.title }}
    </h1>
  </header>
  {%- endunless -%}

  <div class="page-content rte">
    {%- unless page.content == blank -%}
      {{ page.content }}
    {%- endunless -%}

    {%- assign heading = section.settings.title -%}
    {%- assign subheading = section.settings.subheading -%}
    {%- assign is_faq_template = true -%}

    {%- include 'faq' -%}
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_title",
      "label": "Hide page title",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Use this answer block to discuss some commonly asked questions you've discovered from your customers interactions. You could discuss product details, size fit, shipping policies, or anything you think would help merchants make an informed decision about your product or collection. This section will appear across all products.</p>"
        }
      ]
    }
  ]
}
{% endschema %}