/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-ff1725fd {
		font-family: Lato;
		 font-size: 40px;
		 font-weight: 700;
		 color: rgb(0, 191, 243);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-6e698c40 {
		margin: 0px;
		 font-family: Montserrat;
		 display: inline-block;
		 font-size: 30px;
	}
	.__pf .pf-c5f09d7c {
		margin: 20px 0px 0px;
		 font-family: Montserrat;
		 display: inline-block;
		 font-size: 20px;
	}
	.__pf .pf-304bcddd {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
	}
	.__pf .pf-2b731e08 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-2b731e08:hover {
		background-color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-top: 17px;
	}
	.__pf .pf-fb9ae5ae {
		padding-top: 10px;
		 background-position: 50% 100%;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 255, 255);
		 background-size: contain;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-e5aebf88 {
		font-size: 2.54em;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-40ff4776 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-55122938 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-293820c4 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-ddbc161c {
		font-size: 2.2em;
		 border-style: solid;
		 color: rgb(103, 103, 103);
		 border-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-be772f02 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-b9c9b26d {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-b26deb9b {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-af968b3c {
		font-size: 2.2em;
		 border-color: rgb(137, 137, 137);
		 border-style: none;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-16990ddd {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 color: rgb(103, 103, 103);
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-91e3fcbf {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103) !important;
		 text-decoration: none !important;
	}
	.__pf .pf-fcbf11c6 {
		margin-left: 10px;
	}
	.__pf .pf-c6b67e73 {
		background-color: rgb(238, 238, 238);
		 padding-top: 20px;
		 padding-bottom: 20px;
		 font-family: Montserrat;
	}
	.__pf .pf-7e739b17 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-c83b07b4 {
		display: block;
	}
	.__pf .pf-c83b07b4 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-07b41555 {
		font-size: 18px;
	}
	.__pf .pf-35d1458f {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-35d1458f:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-458f0d2f {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-0d2f3e9d {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-27f77e14 {
		display: block;
	}
	.__pf .pf-27f77e14 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-7e149c19 {
		font-size: 18px;
	}
	.__pf .pf-a30bd3e1 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-a30bd3e1:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-d3e17a95 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-7a953577 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-0da34ce5 {
		display: block;
	}
	.__pf .pf-0da34ce5 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-4ce5e9d7 {
		font-size: 18px;
	}
	.__pf .pf-783cd16d {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-783cd16d:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-d16dfc41 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-38df68ff {
		padding-bottom: 30px;
		 padding-top: 30px;
	}
	.__pf .pf-4802372b {
		font-family: Lato;
		 font-size: 44px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-be632fa8 {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-2fa80fe2 {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-bfa086e9 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-86e9528d {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-528d255a {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-255ad2da {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-d2daa4dc {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a4dcda27 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-da271613 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-1613ae0b {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-1fa99131 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-9131131e {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-131e66ee {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-66ee3241 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-3241764e {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-764e8fa5 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-8fa51900 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-19001cef {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-d960e41e {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-e41e7736 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-77365e97 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-5e97fab7 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-fab79021 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-9021a529 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a529d81e {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-e0ca7e48 {
		text-align: center;
	}
	.__pf .pf-7e486118 {
		padding-top: 10px;
		 background-color: rgb(238, 238, 238);
		 padding-bottom: 10px;
	}
	.__pf .pf-004116e6 {
		font-family: Lato;
		 font-size: 30px;
		 font-weight: 700;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
	}
	.__pf .pf-e0cdfb5e {
		padding-top: 5px;
		 padding-bottom: 5px;
	}
	.__pf .pf-a1ecdaa0 {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-a0ecfc4d {
		margin: auto;
		 display: block;
		 width: 450px;
		 height: auto;
	}
	.__pf .pf-fc4da90c {
		margin: auto;
	}
	.__pf .pf-5071d194 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-882921ab {
		text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-e87e5375 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-e87e5375:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-1b0134f3 {
		display: block;
		 margin: auto;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-3648b4bb {
		width: 300px;
		 height: auto;
		 margin: auto;
	}
	.__pf .pf-6e698c40 {
		font-family: Montserrat;
		 font-size: 15px;
	}
	.__pf .pf-c5f09d7c {
		font-family: Montserrat;
		 font-size: 15px;
	}
	.__pf .pf-304bcddd {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-fb9ae5ae {
		padding-top: 40px;
		 padding-bottom: 2px;
	}
	.__pf .pf-40ff4776 {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-55122938 {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-c48eddbc {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-9ba8af96 {
		padding-right: 0px;
	}
	.__pf .pf-af968b3c {
		border-style: none;
	}
	.__pf .pf-c609f5c6 {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-38df68ff {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-7e486118 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
}
						