/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-321541d4 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
		 color: rgb(139, 87, 42);
	}
	.__pf .pf-f1e792a0 {
		margin: 0px;
		 font-family: Montserrat;
		 display: inline-block;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-92a03dc2 {
		font-size: 18px;
	}
	.__pf .pf-2cadd548 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
	}
	.__pf .pf-c667c2ae {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-c667c2ae:hover {
		background-color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-top: 17px;
	}
	.__pf .pf-60fde81e {
		padding-top: 10px;
		 background-position: 50% 100%;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 255, 255);
		 background-size: contain;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-e81e6b77 {
		font-size: 2.54em;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-7900211c {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-ce7ba3da {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a3da2c76 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-933546c9 {
		font-size: 2.2em;
		 border-style: solid;
		 color: rgb(103, 103, 103);
		 border-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-49a6d25b {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a09e54a6 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-54a6592b {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-d88af992 {
		font-size: 2.2em;
		 border-color: rgb(137, 137, 137);
		 border-style: none;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-0768b43d {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 color: rgb(103, 103, 103);
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-f644c95a {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103) !important;
		 text-decoration: none !important;
	}
	.__pf .pf-c95a383d {
		margin-left: 10px;
	}
	.__pf .pf-10cc0bd6 {
		background-color: rgb(238, 238, 238);
		 padding-top: 20px;
		 padding-bottom: 20px;
		 font-family: Montserrat;
	}
	.__pf .pf-0bd69dc0 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-cc02a2a0 {
		display: block;
		 border-style: none;
	}
	.__pf .pf-cc02a2a0 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-a2a037ff {
		font-size: 18px;
	}
	.__pf .pf-5081611b {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-5081611b:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-611b32d8 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-32d8976f {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-62d00ce0 {
		display: block;
	}
	.__pf .pf-62d00ce0 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-e0471a00 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-e0471a00:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-1a00b4f8 {
		font-size: 18px;
	}
	.__pf .pf-b4f818b5 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-18b50dce {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-14901070 {
		display: block;
	}
	.__pf .pf-14901070 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-1764bc89 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-1764bc89:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-bc89d2ca {
		font-size: 18px;
	}
	.__pf .pf-d2ca97f5 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-f5b37cc0 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-9d00848f {
		display: block;
	}
	.__pf .pf-9d00848f > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-848f5397 {
		font-size: 18px;
	}
	.__pf .pf-2f362bfe {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-2f362bfe:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-2bfe5985 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-5985e5d0 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-e0c04234 {
		display: block;
	}
	.__pf .pf-e0c04234 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-4234937c {
		font-size: 18px;
	}
	.__pf .pf-a064582d {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-a064582d:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-582d72de {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-72de0c7b {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-5f943749 {
		display: block;
	}
	.__pf .pf-5f943749 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-37496dfa {
		font-size: 18px;
	}
	.__pf .pf-0f2385c0 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-0f2385c0:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-85c064fb {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-fbfd85c9 {
		padding-bottom: 30px;
		 padding-top: 30px;
	}
	.__pf .pf-d277e649 {
		font-family: Lato;
		 font-size: 44px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-e649ed5d {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-fc00fc48 {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-ed5d1db9 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-3d54f04a {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-f04aad37 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-ad3799b6 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-99b6873c {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-873c4a0f {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-671e918e {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-4a0f2ca1 {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-1db9c890 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-dd24b5b1 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-b5b18144 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-8144410e {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-410e7cf6 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-7cf6f0dd {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-918e594b {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-f0ddb620 {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-c890671e {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-701a6a3a {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-6a3acc99 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-cc99c99a {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-c99afe8e {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-fe8ed277 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-594bb966 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-b5d89de1 {
		text-align: center;
	}
	.__pf .pf-9de10989 {
		padding-top: 10px;
		 background-color: rgb(238, 238, 238);
		 padding-bottom: 10px;
	}
	.__pf .pf-6c75996d {
		font-family: Lato;
		 font-size: 30px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
	}
	.__pf .pf-b768fa9c {
		padding-top: 5px;
		 padding-bottom: 5px;
	}
	.__pf .pf-5e5cc5cb {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
	}
	.__pf .pf-cb20a272 {
		margin: auto;
		 display: block;
		 width: 450px;
		 height: auto;
	}
	.__pf .pf-a272dd54 {
		margin: auto;
	}
	.__pf .pf-3a69d098 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
	}
	.__pf .pf-0b57ce21 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
	}
	.__pf .pf-2218aa5a {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
	}
	.__pf .pf-3acf5fc0 {
		text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-937ad4f9 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-937ad4f9:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-78fee118 {
		display: block;
		 margin: auto;
	}
	.__pf .pf-a1c3e559 {
		font-family: Lato;
		 font-size: 44px;
		 font-weight: 300;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-a45a7492 {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 22px;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-0462f057 {
		width: 200px;
		 height: auto;
	}
	.__pf .pf-3b3605c7 {
		text-align: left;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-9e90d3df {
		font-size: 18px;
	}
	.__pf .pf-05c71321 {
		width: 200px;
		 height: auto;
	}
	.__pf .pf-e757712f {
		margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
		 text-align: left;
		 color: rgb(74, 74, 74);
	}
	.__pf .pf-712fcfa4 {
		font-size: 18px;
	}
	.__pf .pf-94d23220 {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 16px;
		 color: rgb(74, 74, 74);
		 margin-top: 20px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-0d8d9ea1 {
		text-align: center;
	}
	.__pf .pf-9ea11429 {
		padding-top: 10px;
		 background-color: rgb(252, 235, 197);
		 padding-bottom: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-0239cd0e {
		width: 300px;
		 height: auto;
		 margin: auto;
	}
	.__pf .pf-321541d4 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-f1e792a0 {
		font-family: Montserrat;
		 font-size: 15px;
	}
	.__pf .pf-2cadd548 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-60fde81e {
		padding-top: 40px;
		 padding-bottom: 2px;
	}
	.__pf .pf-7900211c {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-ce7ba3da {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-76b59335 {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-2b1dd88a {
		padding-right: 0px;
	}
	.__pf .pf-d88af992 {
		border-style: none;
	}
	.__pf .pf-3d6f6d10 {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-fbfd85c9 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-9de10989 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-9ea11429 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
}
						