/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.gtVEMN { padding: 1.5rem 0px; }
.lgZrwB { display: -webkit-flex; align-items: stretch; flex-flow: column; }
.lgZrwB > nav { display: flex; flex-wrap: wrap; justify-content: center; position: relative !important; }
.lgZrwB > nav > a.nav-item { color: black; display: inline-block; padding: 0.5em 1em; font-weight: bold; border-width: 1px 1px 2px; text-decoration: none; border-bottom-style: solid; border-bottom-color: transparent; }
.lgZrwB > nav > a.nav-item > i { margin-right: 0.3em; }
@media (max-width: 768px) {
  .lgZrwB > nav > a.nav-item { margin-top: 5px !important; margin-bottom: 5px !important; }
}
@media (max-width: 767px) {
}
.lgZrwB > nav > a[data-active="true"] { border-color: inherit; }
.lgZrwB .sc-ptfmh { padding: 1.5rem 0px; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.gnnRUF { position: relative; display: flex; margin-top: 10px; }
.gnnRUF .icon-left { transform: rotate(180deg); }
.gnnRUF .icon-right { right: 0px; }
.gnnRUF .icon-left:hover, .gnnRUF .icon-right:hover { opacity: 0.5; }
.gnnRUF .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 50px; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { height: 0px; float: left; }
.gnnRUF .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gnnRUF .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gnnRUF { display: none; }
}
.blujUP { position: relative; display: flex; margin-top: 10px; }
.blujUP .icon-left { transform: rotate(180deg); }
.blujUP .icon-right { right: 0px; }
.blujUP .icon-left:hover, .blujUP .icon-right:hover { opacity: 0.5; }
.blujUP .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.blujUP .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 313px; }
.blujUP .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.blujUP .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 44.6px; height: 52.6px; float: left; }
.blujUP .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.blujUP .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .blujUP { display: none; }
}
.NaLAE { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .NaLAE { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .NaLAE { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .NaLAE { display: var(--pf-d-xs); }
}
.NaLAE img { border-radius: 4px; object-fit: contain; width: 100%; }
.NaLAE a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .NaLAE { margin: 0px; }
}
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6d3aac87 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
	}
	.__pf .pf-3b436fe0 {
		margin: 0px;
		 font-family: Montserrat;
		 display: inline-block;
	}
	.__pf .pf-782ff896 {
		padding-top: 10px;
		 background-position: 50% 100%;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 255, 255);
		 background-size: contain;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-f8962975 {
		font-size: 2.54em;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-06e145f4 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-afbdf5b3 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-f5b30737 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-b73bc75b {
		font-size: 2.2em;
		 border-style: solid;
		 color: rgb(103, 103, 103);
		 border-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-aa694733 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-1afef45a {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-f45a8554 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-f8b4f2a8 {
		font-size: 2.2em;
		 border-color: rgb(137, 137, 137);
		 border-style: none;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-6f059752 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 color: rgb(103, 103, 103);
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-b746090b {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103) !important;
		 text-decoration: none !important;
	}
	.__pf .pf-090b7ddf {
		margin-left: 10px;
	}
	.__pf .pf-70e9bd3a {
		background-color: rgb(238, 238, 238);
		 padding-top: 20px;
		 padding-bottom: 20px;
		 font-family: Montserrat;
	}
	.__pf .pf-bd3ad93e {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-e14e832e {
		display: block;
	}
	.__pf .pf-e14e832e > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-832e0122 {
		font-size: 18px;
	}
	.__pf .pf-c308a899 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-c308a899:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-a899dae7 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-dae7db7f {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-34aeab09 {
		display: block;
	}
	.__pf .pf-34aeab09 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-ab093b43 {
		font-size: 18px;
	}
	.__pf .pf-30e171ac {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-30e171ac:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-71acb1b9 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-b1b99834 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-2222d048 {
		display: block;
	}
	.__pf .pf-2222d048 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-d048283a {
		font-size: 18px;
	}
	.__pf .pf-f5594504 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-f5594504:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-4504818d {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-8d18ef3e {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-24a1b6e1 {
		display: block;
	}
	.__pf .pf-24a1b6e1 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-b6e1ecc7 {
		font-size: 18px;
	}
	.__pf .pf-310f6d98 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-310f6d98:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-6d98ea7d {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-ea7d9372 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-a60ffc20 {
		display: block;
	}
	.__pf .pf-a60ffc20 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-fc20b469 {
		font-size: 18px;
	}
	.__pf .pf-012420c2 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-012420c2:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-20c27d8b {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-7d8bac75 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-5e807bf3 {
		display: block;
	}
	.__pf .pf-5e807bf3 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-7bf3e794 {
		font-size: 18px;
	}
	.__pf .pf-5e4c2191 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-5e4c2191:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-219181b1 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-b1afefff {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-d9219da4 {
		display: block;
	}
	.__pf .pf-d9219da4 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-9da4ae07 {
		font-size: 18px;
	}
	.__pf .pf-e4e6ea9c {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-e4e6ea9c:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-ea9c8bb3 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-8bb35078 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-4cd20350 {
		display: block;
	}
	.__pf .pf-4cd20350 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-0350191d {
		font-size: 18px;
	}
	.__pf .pf-0f34daba {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-0f34daba:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-daba1ce9 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-1ce9fae1 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-d5d2992f {
		display: block;
	}
	.__pf .pf-d5d2992f > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-992f31b8 {
		font-size: 18px;
	}
	.__pf .pf-84a85ffa {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-84a85ffa:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-5ffadec8 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-c890739a {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-4d36d7f8 {
		display: block;
	}
	.__pf .pf-4d36d7f8 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-d7f8f936 {
		font-size: 18px;
	}
	.__pf .pf-9937a7aa {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-9937a7aa:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-a7aa17de {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-dedd6f15 {
		padding-bottom: 30px;
		 padding-top: 30px;
	}
	.__pf .pf-64fa3730 {
		font-family: Lato;
		 font-size: 44px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-b77cb79f {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-b79f0d7f {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-2a286dff {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-6dff3e96 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-3e96a647 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a6478a2a {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-8a2a3cbe {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-3cbe9de9 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-9de9237c {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-237ca1ca {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-e2756f7d {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-6f7ddde9 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-dde9fb04 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-fb04f2c7 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-f2c73724 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-3724a734 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a73466b6 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-66b6abdc {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-437b2646 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-26468e58 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-8e58072b {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-072b2175 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-217505f8 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-05f85e5c {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-5e5cc68c {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-e6b980b4 {
		text-align: center;
	}
	.__pf .pf-80b43977 {
		padding-top: 10px;
		 background-color: rgb(238, 238, 238);
		 padding-bottom: 10px;
	}
	.__pf .pf-12650e2a {
		font-family: Lato;
		 font-size: 30px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
	}
	.__pf .pf-44f108bc {
		padding-top: 5px;
		 padding-bottom: 5px;
	}
	.__pf .pf-30628139 {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-34a1b6df {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-df6f2037 {
		margin: auto;
		 display: block;
		 width: 450px;
		 height: auto;
	}
	.__pf .pf-2037aeef {
		margin: auto;
	}
	.__pf .pf-b99ea853 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-55965028 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 35px;
	}
	.__pf .pf-ff3ea040 {
		text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-9552fba5 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-9552fba5:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-6092d14c {
		display: block;
		 margin: auto;
	}
	.__pf .pf-3f180068 {
		color: rgb(155, 155, 155);
		 font-family: Montserrat;
	}
	.__pf .pf-0704b4e9 {
		margin-bottom: 25px;
	}
	.__pf .pf-0704b4e9 > nav > a {
		font-family: Lato;
		 font-size: 13px;
		 font-weight: 700;
		 color: rgb(66, 66, 66);
		 margin-bottom: 25px;
	}
	.__pf .pf-0704b4e9 > nav > a[data-active="true"] {
		color: rgb(214, 170, 116);
	}
	.__pf .pf-00680a20 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-00680a20 picture {
		height: 280px;
	}
	.__pf .pf-0a203540 {
		font-family: Montserrat;
		 height: 100px;
		 color: rgb(138, 138, 138);
	}
	.__pf .pf-35402ad9 {
		padding-bottom: 10px;
		 color: rgb(95, 95, 95);
		 font-family: Montserrat;
	}
	.__pf .pf-7bbd0a9a {
		background-color: rgb(103, 103, 103);
		 font-family: Montserrat;
		 color: rgb(255, 255, 255);
		 width: 100%;
	}
	.__pf .pf-7bbd0a9a:hover {
		font-family: Montserrat;
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-4c792b87 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-4c792b87 picture {
		height: 280px;
	}
	.__pf .pf-2b877969 {
		font-family: Montserrat;
		 padding: 0px;
	}
	.__pf .pf-79693776 {
		padding-bottom: 10px;
	}
	.__pf .pf-dcc4b9f0 {
		background-color: rgb(0, 0, 0);
		 font-family: Montserrat;
		 color: rgb(255, 255, 255);
		 width: 100%;
	}
	.__pf .pf-dd6abaf1 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-d0f7c86c {
		display: block;
	}
	.__pf .pf-d0f7c86c > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-3db0a585 {
		font-size: 18px;
	}
	.__pf .pf-c86ccaee {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-c86ccaee:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-013de685 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-ecc19b05 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-caee8ff6 {
		display: block;
	}
	.__pf .pf-caee8ff6 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-7eb0a203 {
		font-size: 18px;
	}
	.__pf .pf-8ff6234e {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-8ff6234e:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-e685360b {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-56f28928 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-234e533f {
		display: block;
	}
	.__pf .pf-234e533f > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-32049011 {
		font-size: 18px;
	}
	.__pf .pf-533f013d {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-533f013d:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-360b2594 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-67efbb5e {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-bb5ee638 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-d27a5d0b {
		display: block;
	}
	.__pf .pf-d27a5d0b > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-54ff5743 {
		font-size: 18px;
	}
	.__pf .pf-5d0bddf4 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-5d0bddf4:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-f9594eae {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-76c800e0 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-ddf4f064 {
		display: block;
	}
	.__pf .pf-ddf4f064 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-e83f070f {
		font-size: 18px;
	}
	.__pf .pf-f0645746 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-f0645746:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-4eae8d2f {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-b1306129 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-5746b5fc {
		display: block;
	}
	.__pf .pf-5746b5fc > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-3b174c85 {
		font-size: 18px;
	}
	.__pf .pf-b5fcf959 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-b5fcf959:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-8d2f329d {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-c6c2fc55 {
		width: 300px;
		 height: auto;
		 margin: auto;
	}
	.__pf .pf-6d3aac87 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-3b436fe0 {
		font-family: Montserrat;
		 font-size: 15px;
	}
	.__pf .pf-782ff896 {
		padding-top: 40px;
		 padding-bottom: 2px;
	}
	.__pf .pf-06e145f4 {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-afbdf5b3 {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-374ab73b {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-5475f8b4 {
		padding-right: 0px;
	}
	.__pf .pf-f8b4f2a8 {
		border-style: none;
	}
	.__pf .pf-df3b0f70 {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-dedd6f15 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-80b43977 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
}
						