/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jrwOpx { font-family: FontAwesome !important; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.HrWqm > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.HrWqm[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.HrWqm[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.HrWqm.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.HrWqm.dropcap--circle > span:first-child { border-radius: 100%; }
.HrWqm:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.HrWqm ol, .HrWqm ul { list-style-position: inside; }
.HrWqm blockquote { font-size: inherit; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-21d4e06e {
		font-family: Montserrat;
		 font-size: 24px;
		 display: block;
		 margin-bottom: 10px;
		 color: rgb(242, 108, 79);
	}
	.__pf .pf-ff53a853 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
		 color: rgb(0, 0, 0);
		 margin-top: 10px;
	}
	.__pf .pf-002dfa4b {
		margin: 0px;
		 font-family: Montserrat;
		 display: inline-block;
		 font-size: 18px;
	}
	.__pf .pf-8eb8b4e2 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 10px;
	}
	.__pf .pf-82beed04 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-82beed04:hover {
		background-color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-top: 17px;
	}
	.__pf .pf-122e4f54 {
		padding-top: 10px;
		 background-position: 50% 100%;
		 background-repeat: no-repeat;
		 background-color: rgb(255, 255, 255);
		 background-size: contain;
		 color: rgb(0, 0, 0);
		 margin-top: 0px;
		 padding-bottom: 20px;
	}
	.__pf .pf-4f54cda4 {
		font-size: 2.54em;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-2b935483 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-15718e5f {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-8e5f26e1 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-f21bf953 {
		font-size: 2.2em;
		 border-style: solid;
		 color: rgb(103, 103, 103);
		 border-color: rgba(255, 255, 255, 0);
	}
	.__pf .pf-b7e643a0 {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-2e6bc368 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-c368e0b3 {
		margin-left: 10px;
		 font-family: Montserrat;
	}
	.__pf .pf-4aeb77f2 {
		font-size: 2.2em;
		 border-color: rgb(137, 137, 137);
		 border-style: none;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-262ca7cf {
		font-family: Lato;
		 font-weight: 700;
		 font-size: 16px;
		 color: rgb(103, 103, 103);
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-d729e997 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 font-family: Lato;
		 font-size: 14px;
		 line-height: 1.5;
		 font-weight: 400;
		 color: rgb(103, 103, 103) !important;
		 text-decoration: none !important;
	}
	.__pf .pf-e9970a00 {
		margin-left: 10px;
	}
	.__pf .pf-99769988 {
		background-color: rgb(238, 238, 238);
		 padding-top: 20px;
		 padding-bottom: 20px;
		 font-family: Montserrat;
	}
	.__pf .pf-9988e457 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-089995b8 {
		display: block;
	}
	.__pf .pf-089995b8 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-95b86ce5 {
		font-size: 18px;
	}
	.__pf .pf-8eb06db5 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-8eb06db5:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-6db5cfdd {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-cfdda7d8 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-7eb9cb64 {
		display: block;
	}
	.__pf .pf-7eb9cb64 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-cb649267 {
		font-size: 18px;
	}
	.__pf .pf-5fa65292 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-5fa65292:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-5292d886 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-b0aac225 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-9ba66f78 {
		display: block;
	}
	.__pf .pf-9ba66f78 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-b5e2fbde {
		font-size: 18px;
	}
	.__pf .pf-6f78eb42 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-6f78eb42:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-eb42ab86 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-c2ac8257 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-f873115c {
		display: block;
	}
	.__pf .pf-f873115c > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-0fb272b2 {
		font-size: 18px;
	}
	.__pf .pf-115cec40 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-115cec40:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-175ffb68 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-50771016 {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-ec4034b2 {
		display: block;
	}
	.__pf .pf-ec4034b2 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-e389c38a {
		font-size: 18px;
	}
	.__pf .pf-34b2a262 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-34b2a262:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-fb68fc19 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-98046cdb {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-a26220aa {
		display: block;
	}
	.__pf .pf-a26220aa > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-4cd67178 {
		font-size: 18px;
	}
	.__pf .pf-20aa175f {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-20aa175f:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-fc190d93 {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-b338fe3f {
		font-family: Montserrat;
		 background-color: rgb(238, 238, 238);
		 color: rgb(103, 103, 103);
		 padding-top: 15px;
		 padding-bottom: 15px;
		 margin: 0px;
		 height: 120px;
	}
	.__pf .pf-8a694ed9 {
		display: block;
	}
	.__pf .pf-8a694ed9 > div > div:first-child {
		height: 375px;
	}
	.__pf .pf-65ed22bd {
		font-size: 18px;
	}
	.__pf .pf-4ed93719 {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-4ed93719:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-d0e79ccd {
		background-size: cover;
		 padding: 0px;
		 text-align: center;
		 min-height: 580px;
		 border-style: solid;
		 border-color: rgb(238, 238, 238);
	}
	.__pf .pf-86617ca0 {
		padding-bottom: 30px;
		 padding-top: 30px;
	}
	.__pf .pf-ccb73382 {
		font-family: Lato;
		 font-size: 44px;
		 font-weight: 300;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-31a4753d {
		font-family: Montserrat;
		 letter-spacing: 0px;
		 font-size: 14px;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 margin-bottom: 70px;
		 font-weight: 400;
		 text-transform: capitalize;
		 text-align: center;
	}
	.__pf .pf-753df44c {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-2aa565b7 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-65b79b28 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-9b2896c1 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-96c15f12 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-5f12e37d {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-e37d3555 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-3555f639 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-f6394ace {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-5eddb4cd {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-b4cd5cd2 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-5cd27ed8 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-7ed89f3c {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-9f3c96be {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-96bee075 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-e0753ad4 {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-3ad42b46 {
		font-size: 137px;
		 color: rgb(238, 238, 238);
		 margin-left: -35px;
	}
	.__pf .pf-f4806e07 {
		font-family: Montserrat;
		 text-align: center;
		 font-size: 15px;
		 margin-top: -50px;
	}
	.__pf .pf-6e074b05 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-4b05f962 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-f962a246 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-a2460e23 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-0e233070 {
		font-size: 24px;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-30701f3c {
		background-color: rgb(255, 255, 255);
		 padding: 15px;
	}
	.__pf .pf-baf18ead {
		text-align: center;
	}
	.__pf .pf-8eade2e3 {
		padding-top: 10px;
		 background-color: rgb(238, 238, 238);
		 padding-bottom: 10px;
	}
	.__pf .pf-86c90706 {
		font-family: Montserrat;
		 font-size: 35px;
		 display: block;
		 margin-bottom: 0px;
		 color: rgb(0, 0, 0);
		 margin-top: 10px;
		 text-align: center;
	}
	.__pf .pf-968801cc {
		font-family: Lato;
		 font-size: 30px;
		 font-weight: 700;
		 color: rgb(114, 124, 133);
		 margin-top: 0px;
		 margin-bottom: 15px;
		 text-align: center;
	}
	.__pf .pf-0b0651b5 {
		padding-top: 5px;
		 padding-bottom: 5px;
	}
	.__pf .pf-787f26e6 {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-9f0981ac {
		text-align: right;
		 margin-right: 0px;
		 font-family: Montserrat;
		 margin-top: 10px;
	}
	.__pf .pf-acd68082 {
		margin: auto;
		 display: block;
		 width: 450px;
		 height: auto;
	}
	.__pf .pf-80827931 {
		margin: auto;
	}
	.__pf .pf-6795029a {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 20px;
	}
	.__pf .pf-42643223 {
		margin-left: 0px;
		 font-family: Montserrat;
		 margin-top: 35px;
	}
	.__pf .pf-9fbcf24b {
		text-align: center;
		 font-size: 18px;
	}
	.__pf .pf-58e6955d {
		background-color: rgb(103, 103, 103);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-family: Montserrat;
		 text-align: center;
		 font-weight: 400;
		 display: block;
		 width: 100%;
		 bottom: 0px;
		 position: absolute;
		 padding: 17px;
	}
	.__pf .pf-58e6955d:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-17b51e1d {
		display: block;
		 margin: auto;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-23e939e4 {
		width: 300px;
		 height: auto;
		 margin: auto;
	}
	.__pf .pf-21d4e06e {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-ff53a853 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-002dfa4b {
		font-family: Montserrat;
		 font-size: 15px;
	}
	.__pf .pf-8eb8b4e2 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-122e4f54 {
		padding-top: 40px;
		 padding-bottom: 2px;
	}
	.__pf .pf-2b935483 {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-15718e5f {
		font-family: Montserrat;
		 color: rgb(103, 103, 103);
	}
	.__pf .pf-e1fbf21b {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-b3384aeb {
		padding-right: 0px;
	}
	.__pf .pf-4aeb77f2 {
		border-style: none;
	}
	.__pf .pf-00626699 {
		padding-right: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-86617ca0 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-8eade2e3 {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-86c90706 {
		margin-top: 0px;
		 margin-bottom: 15px;
	}
}
						