<link href="https://cdn.shopify.com/s/files/1/0090/9236/6436/files/fa.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Montserrat:400&amp;display=swap">

<div data-options class="visually-hidden">
  {}
</div>

{% section 'static-search-blog-posts' %}